.s-hero {
  padding-top: 8.6rem;
  padding-bottom: 14.5rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text {
    width: 100%;
    max-width: 45rem;
    height: 27.4rem;
    .avaliable {
      display: inline-block;
      padding: 0px 2.4rem;
      background-color: $primary-color-super-light;
      border-radius: 2rem;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 28px;
      color: $primary-color;
      margin-bottom: 1.9rem;
    }
    h1 {
      font-family: 'Sora', sans-serif;
      font-weight: bold;
      font-size: 6.4rem;
      line-height: 110%;
      margin-bottom: 3.2rem;
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 9.9rem;
    }
  }

  .scroll {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    span {
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: 0.06em;
      color: $primary-color-light;
    }
  }
  .image {
    width: 100%;
    max-width: 78rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: -130px;
    .img {
      position: relative;
      &.one,
      &.three {
        position: absolute;
        z-index: 1;
      }
      &.one {
        left: 0;
        bottom: 0;
      }
      &.three {
        right: 0;
        bottom: 0;
      }
    }
  }
  @include responsive(1200px) {
    padding-bottom: 8.6rem;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .text {
      text-align: center;
      margin-bottom: 10rem;
      .btns {
        margin-bottom: 3rem;
      }
      .scroll {
        justify-content: center;
      }
    }
    .image {
      margin-left: -10rem;
    }
  }
}

.s-services {
  .container {
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-bottom: 9rem;
  }
  .infos {
    display: flex;
    flex-wrap: wrap;
    gap: 5.8rem;
    margin-bottom: 9rem;
    .info-service {
      width: 261px;
      height: 112px;
      display: flex;
      gap: 1.6rem;
    }
    .text-service {
      width: 100%;
      h3 {
        margin-bottom: 1.2rem;
      }
      p {
        font-size: 1.7rem;
        line-height: 150%;
        color: $text-color2;
      }
    }
  }

  @include responsive(1200px) {
    .infos {
      gap: 2rem 5%;
      .info-service {
        width: 30%;
      }
    }
  }
  @include responsive(991px) {
    .infos {
      gap: 1rem 10%;
      .info-service {
        width: 45%;
      }
    }
  }

  @include responsive(600px) {
    .infos {
      flex-direction: column;
      .info-service {
        width: 100%;
      }
    }
  }
}

.s-plan {
  background-color: $gray-color-3;
  padding-top: 9rem;
  padding-bottom: 9rem;
  .container {
    .title {
      margin-bottom: 8.7rem;
      p {
        text-align: center;
      }
    }
    .all-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .card {
      width: 34.5rem;
      height: 42.8rem;
      padding: 3.5rem 3.2rem;
      border: 1px solid $text-color-light;
      border-radius: 5px;
      .btns-card {
        .btn-primary {
          display: block;
          border: 1px solid $primary-color-light;
          color: $gray-color-3;
          &.outline {
            color: $primary-color-light;
          }
        }
      }
      .text {
        padding-bottom: 2.8rem;
        border-bottom: 1px solid $primary-color-super-light;
        p {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 1.7rem;
          line-height: 110%;
          color: $primary-color;
          padding-top: 0.8rem;
        }
      }
      .details-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3.2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 110%;
        color: $text-color2;

        .column-1 {
          text-align: left;
          padding-top: 3.2rem;
          li {
            padding-bottom: 19px;
            &:last-child {
              padding-bottom: 0px;
            }
          }
        }
        .column-2 {
          text-align: right;
          padding-top: 3.2rem;
          li {
            padding-bottom: 19px;
            &:last-child {
              padding-bottom: 0px;
            }
          }
        }
      }
    }
    .one {
      .text {
        p {
          color: $text-color2;
        }
      }
    }
  }
}
