.s-hero {
  padding-top: 8.6rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text {
    width: 100%;
    max-width: 45rem;
    height: 27.4rem;
    .avaliable {
      display: inline-block;
      padding: 0px 2.4rem;
      background-color: $primary-color-super-light;
      border-radius: 2rem;
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 28px;
      color: $primary-color;
      margin-bottom: 1.9rem;
    }
    h1 {
      font-family: 'Sora', sans-serif;
      font-weight: bold;
      font-size: 6.4rem;
      line-height: 110%;
      margin-bottom: 3.2rem;
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 9.9rem;
    }
  }

  .scroll {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    span {
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1.5rem;
      letter-spacing: 0.06em;
      color: $primary-color-light;
    }
  }
  .image {
    width: 100%;
    max-width: 78rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: -130px;
    .img {
      position: relative;
      &.one,
      &.three {
        position: absolute;
        z-index: 1;
      }
      &.one {
        left: 0;
        bottom: 0;
      }
      &.three {
        right: 0;
        bottom: 0;
      }
    }
  }
}

.s-services {
  padding-top: 14.5rem;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    margin-bottom: 9rem;
    h2 {
      text-align: center;
      margin-bottom: 1.6rem;
    }
    p {
      text-align: center;
      font-size: 1.7rem;
      line-height: 110%;
      color: $text-color2;
    }
  }
  .infos {
    display: flex;
  }
}
