h1,
h2,
h3 {
  font-family: 'Sora', sans-serif;
  font-weight: bold;
  line-height: 110%;
  color: $gray-color-1;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 145px;
  h2 {
    max-width: 100%;
  }
  p {
    margin-top: 1.6rem;
    font-size: 1.7rem;
    line-height: 110%;
    color: $text-color2;
    width: 68.4rem;
    line-height: 170%;
  }
}

.btn-primary {
  display: inline-block;
  background-color: $primary-color;
  color: $white;
  border-radius: 5px;
  line-height: 5.5rem;
  text-align: center;
  font-size: 1.6rem;
  padding: 0 6.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  border: 1px solid $primary-color;
  &.outline {
    background-color: transparent;
    color: $primary-color;
  }
}
