* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
  @include responsive(1200px) {
    font-size: 55%;
  }
  @include responsive(480px) {
    font-size: 50%;
  }
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
}
